{% extends "account/base.html" %}
{% load bootstarp4 %}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="form-signin">
    <h1>{% trans "Set Password" %}</h1>

    <form class="form-signin" method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-primary" type="submit" name="action" value="{% trans 'Set Password' %}">Set Password</button>
    </form>
  </div
{% endblock %}
