{% extends "core/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="home-wrapper">
  <div class="container">
    <div class="row">

      <!-- home content -->
      <div class="col-md-10 col-md-offset-1">
        <div class="home-content">
          <h1 class="white-text">We Are Creative Agency</h1>
          <p class="white-text">Morbi mattis felis at nunc. Duis viverra diam non justo. In nisl. Nullam sit amet magna in magna gravida vehicula. Mauris tincidunt sem sed arcu. Nunc posuere.
          </p>
          <button class="white-btn">Get Started!</button>
          <button class="main-btn">Learn more</button>
        </div>
      </div>
      <!-- /home content -->

    </div>
  </div>
</div>
<!-- /home wrapper -->

</header>
<!-- /Header -->

<!-- About -->
<div id="about" class="section md-padding">

<!-- Container -->
<div class="container">

  <!-- Row -->
  <div class="row">

    <!-- Section header -->
    <div class="section-header text-center">
      <h2 class="title">Welcome to Website</h2>
    </div>
    <!-- /Section header -->

    <!-- about -->
    <div class="col-md-4">
      <div class="about">
        <i class="fa fa-cogs"></i>
        <h3>Fully Customizible</h3>
        <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</p>
        <a href="#">Read more</a>
      </div>
    </div>
    <!-- /about -->

    <!-- about -->
    <div class="col-md-4">
      <div class="about">
        <i class="fa fa-magic"></i>
        <h3>Awesome Features</h3>
        <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</p>
        <a href="#">Read more</a>
      </div>
    </div>
    <!-- /about -->

    <!-- about -->
    <div class="col-md-4">
      <div class="about">
        <i class="fa fa-mobile"></i>
        <h3>Fully Responsive</h3>
        <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</p>
        <a href="#">Read more</a>
      </div>
    </div>
    <!-- /about -->

  </div>
  <!-- /Row -->

</div>
<!-- /Container -->

</div>
<!-- /About -->


<!-- Portfolio -->
<div id="portfolio" class="section md-padding bg-grey">

<!-- Container -->
<div class="container">

  <!-- Row -->
  <div class="row">

    <!-- Section header -->
    <div class="section-header text-center">
      <h2 class="title">Featured Works</h2>
    </div>
    <!-- /Section header -->

    <!-- Work -->
    <div class="col-md-4 col-xs-6 work">
      <img class="img-responsive" src="{% static 'index/img/work1.jpg' %}" alt="">
      <div class="overlay"></div>
      <div class="work-content">
        <span>Category</span>
        <h3>Lorem ipsum dolor</h3>
        <div class="work-link">
          <a href="#"><i class="fa fa-external-link"></i></a>
          <a class="lightbox" href="{% static 'index/img/work1.jpg' %}"><i class="fa fa-search"></i></a>
        </div>
      </div>
    </div>
    <!-- /Work -->

    <!-- Work -->
    <div class="col-md-4 col-xs-6 work">
      <img class="img-responsive" src="{% static 'index/img/work2.jpg' %}" alt="">
      <div class="overlay"></div>
      <div class="work-content">
        <span>Category</span>
        <h3>Lorem ipsum dolor</h3>
        <div class="work-link">
          <a href="#"><i class="fa fa-external-link"></i></a>
          <a class="lightbox" href="{% static 'index/img/work2.jpg' %}"><i class="fa fa-search"></i></a>
        </div>
      </div>
    </div>
    <!-- /Work -->

    <!-- Work -->
    <div class="col-md-4 col-xs-6 work">
      <img class="img-responsive" src="{% static 'index/img/work3.jpg' %}" alt="">
      <div class="overlay"></div>
      <div class="work-content">
        <span>Category</span>
        <h3>Lorem ipsum dolor</h3>
        <div class="work-link">
          <a href="#"><i class="fa fa-external-link"></i></a>
          <a class="lightbox" href="{% static 'index/img/work3.jpg' %}"><i class="fa fa-search"></i></a>
        </div>
      </div>
    </div>
    <!-- /Work -->

    <!-- Work -->
    <div class="col-md-4 col-xs-6 work">
      <img class="img-responsive" src="{% static 'index/img/work4.jpg' %}" alt="">
      <div class="overlay"></div>
      <div class="work-content">
        <span>Category</span>
        <h3>Lorem ipsum dolor</h3>
        <div class="work-link">
          <a href="#"><i class="fa fa-external-link"></i></a>
          <a class="lightbox" href="{% static 'index/img/work4.jpg' %}"><i class="fa fa-search"></i></a>
        </div>
      </div>
    </div>
    <!-- /Work -->

    <!-- Work -->
    <div class="col-md-4 col-xs-6 work">
      <img class="img-responsive" src="{% static 'index/img/work5.jpg' %}" alt="">
      <div class="overlay"></div>
      <div class="work-content">
        <span>Category</span>
        <h3>Lorem ipsum dolor</h3>
        <div class="work-link">
          <a href="#"><i class="fa fa-external-link"></i></a>
          <a class="lightbox" href="{% static 'index/img/work5.jpg' %}"><i class="fa fa-search"></i></a>
        </div>
      </div>
    </div>
    <!-- /Work -->

    <!-- Work -->
    <div class="col-md-4 col-xs-6 work">
      <img class="img-responsive" src="{% static 'index/img/work6.jpg' %}" alt="">
      <div class="overlay"></div>
      <div class="work-content">
        <span>Category</span>
        <h3>Lorem ipsum dolor</h3>
        <div class="work-link">
          <a href="#"><i class="fa fa-external-link"></i></a>
          <a class="lightbox" href="{% static 'index/img/work6.jpg' %}"><i class="fa fa-search"></i></a>
        </div>
      </div>
    </div>
    <!-- /Work -->

  </div>
  <!-- /Row -->

</div>
<!-- /Container -->

</div>
<!-- /Portfolio -->

<!-- Service -->
<div id="service" class="section md-padding">

<!-- Container -->
<div class="container">

  <!-- Row -->
  <div class="row">

    <!-- Section header -->
    <div class="section-header text-center">
      <h2 class="title">What we offer</h2>
    </div>
    <!-- /Section header -->

    <!-- service -->
    <div class="col-md-4 col-sm-6">
      <div class="service">
        <i class="fa fa-diamond"></i>
        <h3>App Development</h3>
        <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
      </div>
    </div>
    <!-- /service -->

    <!-- service -->
    <div class="col-md-4 col-sm-6">
      <div class="service">
        <i class="fa fa-rocket"></i>
        <h3>Graphic Design</h3>
        <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
      </div>
    </div>
    <!-- /service -->

    <!-- service -->
    <div class="col-md-4 col-sm-6">
      <div class="service">
        <i class="fa fa-cogs"></i>
        <h3>Creative Idea</h3>
        <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
      </div>
    </div>
    <!-- /service -->

    <!-- service -->
    <div class="col-md-4 col-sm-6">
      <div class="service">
        <i class="fa fa-diamond"></i>
        <h3>Marketing</h3>
        <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
      </div>
    </div>
    <!-- /service -->

    <!-- service -->
    <div class="col-md-4 col-sm-6">
      <div class="service">
        <i class="fa fa-pencil"></i>
        <h3>Awesome Support</h3>
        <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
      </div>
    </div>
    <!-- /service -->

    <!-- service -->
    <div class="col-md-4 col-sm-6">
      <div class="service">
        <i class="fa fa-flask"></i>
        <h3>Brand Design</h3>
        <p>Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero.</p>
      </div>
    </div>
    <!-- /service -->

  </div>
  <!-- /Row -->

</div>
<!-- /Container -->

</div>
<!-- /Service -->


<!-- Why Choose Us -->
<div id="features" class="section md-padding bg-grey">

<!-- Container -->
<div class="container">

  <!-- Row -->
  <div class="row">

    <!-- why choose us content -->
    <div class="col-md-6">
      <div class="section-header">
        <h2 class="title">Why Choose Us</h2>
      </div>
      <p>Molestie at elementum eu facilisis sed odio. Scelerisque in dictum non consectetur a erat. Aliquam id diam maecenas ultricies mi eget mauris. Ultrices sagittis orci a scelerisque purus.</p>
      <div class="feature">
        <i class="fa fa-check"></i>
        <p>Quis varius quam quisque id diam vel quam elementum.</p>
      </div>
      <div class="feature">
        <i class="fa fa-check"></i>
        <p>Mauris augue neque gravida in fermentum.</p>
      </div>
      <div class="feature">
        <i class="fa fa-check"></i>
        <p>Orci phasellus egestas tellus rutrum.</p>
      </div>
      <div class="feature">
        <i class="fa fa-check"></i>
        <p>Nec feugiat nisl pretium fusce id velit ut tortor pretium.</p>
      </div>
    </div>
    <!-- /why choose us content -->

    <!-- About slider -->
    <div class="col-md-6">
      <div id="about-slider" class="owl-carousel owl-theme">
        <img class="img-responsive" src="{% static 'index/img/about1.jpg' %}" alt="">
        <img class="img-responsive" src="{% static 'index/img/about2.jpg' %}" alt="">
        <img class="img-responsive" src="{% static 'index/img/about1.jpg' %}" alt="">
        <img class="img-responsive" src="{% static 'index/img/about2.jpg' %}" alt="">
      </div>
    </div>
    <!-- /About slider -->

  </div>
  <!-- /Row -->

</div>
<!-- /Container -->

</div>
<!-- /Why Choose Us -->


<!-- Numbers -->
<div id="numbers" class="section sm-padding">

<!-- Background Image -->
<div class="bg-img" style="background-image: url({% static 'index/img/background2.jpg' %});">
  <div class="overlay"></div>
</div>
<!-- /Background Image -->

<!-- Container -->
<div class="container">

  <!-- Row -->
  <div class="row">

    <!-- number -->
    <div class="col-sm-3 col-xs-6">
      <div class="number">
        <i class="fa fa-users"></i>
        <h3 class="white-text"><span class="counter">451</span></h3>
        <span class="white-text">Happy clients</span>
      </div>
    </div>
    <!-- /number -->

    <!-- number -->
    <div class="col-sm-3 col-xs-6">
      <div class="number">
        <i class="fa fa-trophy"></i>
        <h3 class="white-text"><span class="counter">12</span></h3>
        <span class="white-text">Awards won</span>
      </div>
    </div>
    <!-- /number -->

    <!-- number -->
    <div class="col-sm-3 col-xs-6">
      <div class="number">
        <i class="fa fa-coffee"></i>
        <h3 class="white-text"><span class="counter">154</span>K</h3>
        <span class="white-text">Cups of Coffee</span>
      </div>
    </div>
    <!-- /number -->

    <!-- number -->
    <div class="col-sm-3 col-xs-6">
      <div class="number">
        <i class="fa fa-file"></i>
        <h3 class="white-text"><span class="counter">45</span></h3>
        <span class="white-text">Projects completed</span>
      </div>
    </div>
    <!-- /number -->

  </div>
  <!-- /Row -->

</div>
<!-- /Container -->

</div>
<!-- /Numbers -->

<!-- Pricing -->
<div id="pricing" class="section md-padding">

<!-- Container -->
<div class="container">

  <!-- Row -->
  <div class="row">

    <!-- Section header -->
    <div class="section-header text-center">
      <h2 class="title">Pricing Table</h2>
    </div>
    <!-- /Section header -->

    <!-- pricing -->
    <div class="col-sm-4">
      <div class="pricing">
        <div class="price-head">
          <span class="price-title">Basic plan</span>
          <div class="price">
            <h3>$9<span class="duration">/ month</span></h3>
          </div>
        </div>
        <ul class="price-content">
          <li>
            <p>1GB Disk Space</p>
          </li>
          <li>
            <p>100 Email Account</p>
          </li>
          <li>
            <p>24/24 Support</p>
          </li>
        </ul>
        <div class="price-btn">
          <button class="outline-btn">Purchase now</button>
        </div>
      </div>
    </div>
    <!-- /pricing -->

    <!-- pricing -->
    <div class="col-sm-4">
      <div class="pricing">
        <div class="price-head">
          <span class="price-title">Silver plan</span>
          <div class="price">
            <h3>$19<span class="duration">/ month</span></h3>
          </div>
        </div>
        <ul class="price-content">
          <li>
            <p>1GB Disk Space</p>
          </li>
          <li>
            <p>100 Email Account</p>
          </li>
          <li>
            <p>24/24 Support</p>
          </li>
        </ul>
        <div class="price-btn">
          <button class="outline-btn">Purchase now</button>
        </div>
      </div>
    </div>
    <!-- /pricing -->

    <!-- pricing -->
    <div class="col-sm-4">
      <div class="pricing">
        <div class="price-head">
          <span class="price-title">Gold plan</span>
          <div class="price">
            <h3>$39<span class="duration">/ month</span></h3>
          </div>
        </div>
        <ul class="price-content">
          <li>
            <p>1GB Disk Space</p>
          </li>
          <li>
            <p>100 Email Account</p>
          </li>
          <li>
            <p>24/24 Support</p>
          </li>
        </ul>
        <div class="price-btn">
          <button class="outline-btn">Purchase now</button>
        </div>
      </div>
    </div>
    <!-- /pricing -->

  </div>
  <!-- Row -->

</div>
<!-- /Container -->

</div>
<!-- /Pricing -->


<!-- Testimonial -->
<div id="testimonial" class="section md-padding">

<!-- Background Image -->
<div class="bg-img" style="background-image: url({% static 'index/img/background3.jpg' %});">
  <div class="overlay"></div>
</div>
<!-- /Background Image -->

<!-- Container -->
<div class="container">

  <!-- Row -->
  <div class="row">

    <!-- Testimonial slider -->
    <div class="col-md-10 col-md-offset-1">
      <div id="testimonial-slider" class="owl-carousel owl-theme">

        <!-- testimonial -->
        <div class="testimonial">
          <div class="testimonial-meta">
            <img src="{% static 'index/img/perso1.jpg' %}" alt="">
            <h3 class="white-text">John Doe</h3>
            <span>Web Designer</span>
          </div>
          <p class="white-text">Molestie at elementum eu facilisis sed odio. Scelerisque in dictum non consectetur a erat. Aliquam id diam maecenas ultricies mi eget mauris.</p>
        </div>
        <!-- /testimonial -->

        <!-- testimonial -->
        <div class="testimonial">
          <div class="testimonial-meta">
            <img src="{% static 'index/img/perso2.jpg' %}" alt="">
            <h3 class="white-text">John Doe</h3>
            <span>Web Designer</span>
          </div>
          <p class="white-text">Molestie at elementum eu facilisis sed odio. Scelerisque in dictum non consectetur a erat. Aliquam id diam maecenas ultricies mi eget mauris.</p>
        </div>
        <!-- /testimonial -->

      </div>
    </div>
    <!-- /Testimonial slider -->

  </div>
  <!-- /Row -->

</div>
<!-- /Container -->

</div>
<!-- /Testimonial -->

<!-- Team -->
<div id="team" class="section md-padding">

<!-- Container -->
<div class="container">

  <!-- Row -->
  <div class="row">

    <!-- Section header -->
    <div class="section-header text-center">
      <h2 class="title">Our Team</h2>
    </div>
    <!-- /Section header -->

    <!-- team -->
    <div class="col-sm-4">
      <div class="team">
        <div class="team-img">
          <img class="img-responsive" src="{% static 'index/img/team1.jpg' %}" alt="">
          <div class="overlay">
            <div class="team-social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-google-plus"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </div>
          </div>
        </div>
        <div class="team-content">
          <h3>John Doe</h3>
          <span>Web Designer</span>
        </div>
      </div>
    </div>
    <!-- /team -->

    <!-- team -->
    <div class="col-sm-4">
      <div class="team">
        <div class="team-img">
          <img class="img-responsive" src="{% static 'index/img/team2.jpg' %}" alt="">
          <div class="overlay">
            <div class="team-social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-google-plus"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </div>
          </div>
        </div>
        <div class="team-content">
          <h3>John Doe</h3>
          <span>Web Designer</span>
        </div>
      </div>
    </div>
    <!-- /team -->

    <!-- team -->
    <div class="col-sm-4">
      <div class="team">
        <div class="team-img">
          <img class="img-responsive" src="{% static 'index/img/team3.jpg' %}" alt="">
          <div class="overlay">
            <div class="team-social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-google-plus"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </div>
          </div>
        </div>
        <div class="team-content">
          <h3>John Doe</h3>
          <span>Web Designer</span>
        </div>
      </div>
    </div>
    <!-- /team -->

  </div>
  <!-- /Row -->

</div>
<!-- /Container -->

</div>
<!-- /Team -->

{% endblock %}
